.paste-mode-settings-notice {
  color: var(--text-error);
  font-weight: bold;
}

.paste-mode-settings-notice-text {
  font-style: italic;
}

.paste-mode-status-bar-hidden {
  display: none;
}
