.paste-to-current-indentation-settings-notice {
  color: var(--text-error);
  font-weight: bold;
}

.paste-to-current-indentation-settings-notice-text {
  font-style: italic;
}
.primed .paste-to-current-indentation-settings-delete-button {
  background: var(--text-error) !important;
  color: white !important;
}